*{
margin: 0;
padding: 0;
}

.container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header{
    background: white;
 

}

.sidebar{
    background: rgb(0, 162, 255);
    color: white;
   
}

.main-content{
    background: rgb(201, 197, 197);
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-family: sans-serif;
    text-align: center;
}

.main-content .card, .announcements, .trending{
    background: white;
    margin: 4px;
    border-radius: 15px;
}

.projects{
    resize: both;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    text-align: left;
}

.projects .card{
    height: 200px;
    padding: 5px;
}

.card .title{
    font-weight: bold;
}